.content {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.interesting {
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  grid-row: span 2;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  padding: 1em;
  gap: 1em;
}