.content {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

svg {
  width: 2rem;
}

.sidebar {
  display: grid;
  grid-auto-rows: 2rem;
  gap: 1rem;
}

.outlink,
.dash-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-dash {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  align-items: center;
  gap: 1rem;
  input {
    width: 80%;
  }

  > div:nth-child(even) {
    justify-self: end;
  }
}

.header-name {
  display: flex;
  gap: 1rem;
  align-items: center;
  img {
    height: 4rem;
    width: 4rem;
  }
}

.search-bar {
  form {
    display: flex;
    align-content: center;
    gap: 1rem;
  }
}

.search-icon {
  width: 2rem;
}

.notif-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    height: 3rem;
    width: 3rem;
  }
}


.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dashbox {
  padding: 1rem;
}


.interesting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: .8rem;
}

nav {
  grid-row: span 2;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  padding: 1em;
  gap: 1em;
}

.trending h3,
.announcements h3 {
  margin-bottom: 1rem;
}

.trending .dashbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 3rem;
    height: 3rem;
  }
}