@use '_variables.scss' as *;

header {
  background-color: var(--color-bg-header);
}

nav {
  background-color: var(--color-bg-nav);
}

main {
  background-color: var(--color-bg-main);
}

.pad {
  padding: 1rem;
}

.project-overview {
  background-color: #fff;
}

.sidebar {
  color: var(--color-sidebar);
  font-family: 'Wellfleet';
  letter-spacing: .1em;
  svg {
    fill: var(--color-sidebar)
  }
}

