@use '_variables.scss' as *;

button {
  padding: .5em 3em;
  border: none;
  border-radius: 2em;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  font-family: 'Wellfleet';
}

input {
  border: none;
  border-radius: 2em;
  background-color: var(--color-bg-search);
  padding: .5em 1em;
}

header {
  background-color: var(--color-bg-header);
  color: var(--color-text-darkred);
  svg {
    fill: var(--color-text-darkred);
  }
}

nav {
  background-color: var(--color-bg-nav);
}

main {
  background-color: var(--color-bg-main);
}

.pad {
  padding: 1rem;
}

.sidebar {
  color: var(--color-sidebar);
  font-family: 'Wellfleet';
  letter-spacing: .1em;
  svg {
    fill: var(--color-sidebar)
  }
}

.profile-picture {
  clip-path: circle();
  object-fit: cover;
}

.dashboard {
  background-color: var(--color-bg-main);
}

.dashbox {
  background-color: var(--color-bg-dashbox);
  border-radius: 1em;
}

.project-overview {
  padding: 2em;
}

h1,h2,h3,
.header-dash p {
  font-family: 'Wellfleet';
}

