:root {
  --color-bg-header: #ff5d5d;
  --color-bg-nav: #473a0c;
  --color-bg-main: #e9e8c0;
  --color-bg-search: #e7cccc;
  --color-bg-dashbox: #fafce6;

  --color-text-darkred: #160609;
  --color-sidebar: #c9e239;
  --color-main: #ececc7;

  --color-button-bg: #200906;
  --color-button-text: #ffb0b0;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Wellfleet&display=swap');