@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Wellfleet&display=swap");
:root {
  --color-bg-header: #ff5d5d;
  --color-bg-nav: #473a0c;
  --color-bg-main: #e9e8c0;
  --color-bg-search: #e7cccc;
  --color-bg-dashbox: #fafce6;
  --color-text-darkred: #160609;
  --color-sidebar: #c9e239;
  --color-main: #ececc7;
  --color-button-bg: #200906;
  --color-button-text: #ffb0b0;
}

* {
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

body,
h1, h2, h3,
p {
  padding: 0;
  margin: 0;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.6;
}

.content {
  display: grid;
  grid-template: 1fr 4fr/1fr 5fr;
}

svg {
  width: 2rem;
}

.sidebar {
  display: grid;
  grid-auto-rows: 2rem;
  gap: 1rem;
}

.outlink,
.dash-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-dash {
  display: grid;
  grid-template: 1fr 1fr/2fr 1fr;
  align-items: center;
  gap: 1rem;
}
.header-dash input {
  width: 80%;
}
.header-dash > div:nth-child(even) {
  justify-self: end;
}

.header-name {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-name img {
  height: 4rem;
  width: 4rem;
}

.search-bar form {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.search-icon {
  width: 2rem;
}

.notif-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.notif-bar img {
  height: 3rem;
  width: 3rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dashbox {
  padding: 1rem;
}

.interesting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}

nav {
  grid-row: span 2;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  padding: 1em;
  gap: 1em;
}

.project-overview h3 {
  margin-bottom: 1rem;
}

.trending h3,
.announcements h3 {
  margin-bottom: 1rem;
}

.trending .dashbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.trending-user img {
  width: 3rem;
  height: 3rem;
}

body {
  font-family: "Josefin Sans";
}

button {
  padding: 0.5em 3em;
  border: none;
  border-radius: 2em;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  font-family: "Wellfleet";
}

input {
  border: none;
  border-radius: 2em;
  background-color: var(--color-bg-search);
  padding: 0.5em 1em;
}

header {
  background-color: var(--color-bg-header);
  color: var(--color-text-darkred);
}
header svg {
  fill: var(--color-text-darkred);
}

nav {
  background-color: var(--color-bg-nav);
}

main {
  background-color: var(--color-bg-main);
}

.pad {
  padding: 1rem;
}

.sidebar {
  color: var(--color-sidebar);
  font-family: "Wellfleet";
  letter-spacing: 0.1em;
}
.sidebar svg {
  fill: var(--color-sidebar);
}

.profile-picture {
  -webkit-clip-path: circle();
          clip-path: circle();
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboard {
  background-color: var(--color-bg-main);
}

.dashbox {
  background-color: var(--color-bg-dashbox);
  border-radius: 1em;
}

.project-overview {
  border-left: 1.2rem var(--color-bg-nav) solid;
  padding: 2em;
}

h1, h2, h3,
.header-dash p {
  font-family: "Wellfleet";
}/*# sourceMappingURL=main.css.map */